= link_to root_path do
  .unactive
    .grid-x
      .medium-2.cell
        .icon
          = image_tag("icons/icons8/user.png")
      .medium-2.cell
        .text-padding-home-icon
          Home
= link_to personalinfo_path do
  .unactive
    .grid-x
      .medium-2.cell
        .icon
          = image_tag("icons/icons8/personal.png")
      .medium-7.cell
        .text-padding-personal-icon
          Personal Information
= link_to data_path do
  .unactive
    .grid-x
      .medium-2.cell
        .icon
          = image_tag("icons/icons8/data.png")
      .medium-7.cell
        .text-padding-data-icon
          Data
= link_to about_path do
  .active
    .grid-x
      .medium-2.cell
        .icon
          = image_tag("icons/icons8/about.png")
      .medium-2.cell
        .text-padding-home-icon
          About
= link_to credit_path do
  .unactive
    .grid-x
      .medium-2.cell
        .icon
          = image_tag("icons/icons8/about.png")
      .medium-2.cell
        .text-padding-home-icon
          Credits
