.grid-x
  .medium-3.cell
    = render "buttons/data"
  .medium-9.cell
    .center
      %h3 Your data
      %h5 All your data all in one place.
    .grid-x
      .medium-4.cell
        .callout.info
          .center
            %h4 Lion Socail
            %p= link_to "About Lion Social.", lionsocial_path
            %p What to know about what data Lion Social uses?
            = link_to "Learn More", morelionsocial_path, class: "button"
      .medium-4.cell
        .callout.info
          .center           
            %h4 Movie Makers
            %p= link_to "About Movie Makers.", moviemakers_path
            %p What to know about what data Movie Makers uses?
            = link_to "Learn More", moremoviemakers_path, class: "button"
      .medium-4.cell
        .callout.info
          .center
            %h4 Rails Forums
            %p= link_to "About Rails Forums.", railsforums_path
            %p What to know about what data Rails Forums uses?
            = link_to "Learn More", morerailsforums_path, class: "button"
      .medium-4.cell
        .callout.info
          .center
            %h4 Lion Finance
            %p= link_to "About Lion Finance.", lionfinance_path
            %p What to know about what data Lion Finance uses?
            = link_to "Learn More", morelionfinance_path, class: "button"

