.grid-x
  .medium-3.cell
    = render "buttons/data"
  .medium-9.cell
    .grid-x
      .medium-4.cell
      .medium-6.cell
        %h3 Your data
    .grid-x
      .medium-3.cell
      .medium-4.cell
        %h5 All your data all in one place.
    .grid-x
      .medium-4.cell
        .callout.info
          .grid-x
            .medium-3.cell
            .medium-9.cell
              %h4 Lion Socail
              %p= link_to "About Lion Social.", lionsocial_path
          %p What to know about what data Lion Social uses?
          .grid-x
            .medium-3.cell
            .medium-9.cell
              = link_to "Learn More", morelionsocial_path, class: "button"
      .medium-4.cell
        .callout.info
          .grid-x
            .medium-2.cell
            .medium-9.cell
              %h4 Movie Makers
              %p= link_to "About Movie Makers.", moviemakers_path
          %p What to know about what data Movie Makers uses?
          .grid-x
            .medium-3.cell
            .medium-9.cell
              = link_to "Learn More", moremoviemakers_path, class: "button"
      .medium-4.cell
        .callout.info
          .grid-x
            .medium-3.cell
            .medium-9.cell
              %h4 Rails Forums
              %p= link_to "About Rails Forums.", railsforums_path
          %p What to know about what data Rails Forums uses?
          .grid-x
            .medium-3.cell
            .medium-9.cell
              = link_to "Learn More", morerailsforums_path, class: "button"
