.grid-x
  .medium-3.cell
    = render "buttons/personal"
  .medium-9.cell
    .center
      %h3 Personal Info
      %h5 Basic info, like your name and photo, that you use on LionNav services.
    .callout.info
      %h5 Basic Info
      %p Some info like your name and picture will be shown.
      .grid-x
        .medium-1.cell
          %p Photo
        .medium-3.cell
        .medium-5.cell
          %p A photo that personalzies your account.
        .medium-1.cell
        .medium-2.cell
          %p= link_to "Change", edit_user_path(current_user)
        .medium-1.cell
          %p Name
        .medium-3.cell
        .medium-5.cell
          %p= @user.username
        .medium-1.cell
        .medium-2.cell
          %p= link_to "Change", edit_user_path(current_user)
        .medium-1.cell
          %p Password
        .medium-3.cell
        .medium-5.cell
          %p Your password is encrypted it cant be shown.
        .medium-1.cell
        .medium-2.cell
          %p= link_to "Change", edit_user_path(current_user)
    .callout.info
      %h5 Contact Info
      .grid-x
        .medium-1.cell
          %p Email
        .medium-3.cell
        .medium-5.cell
          %p= @user.email
        .medium-1.cell
        .medium-2.cell
          %p= link_to "Change", edit_user_path(current_user)
